<main class="score-cmp">
  <div class="d-flex p-3">
    <div class="flex-grow-1">
      <h3 class="congrats">CONGRATS<br/><span id="name"></span></h3>
    </div>
    <div>
      <img src="./happy_homer.jpg" class="happy">
      <p class="size"><span id="size"></span> pairs</p>
      <p class="time"><span id="time"></span>s</p>
    </div>
  </div>
</main>
